.App{
    text-align: center;
    width: 100vw;
    height: 100%;
}

.Pictures {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img {
    margin: 5px;
}

.Picture {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0 10px;
    touch-action: none; /* Prevent touch context menu */
  }

.board { width: 100px;
    height: 800px;

}


.Board {
    width: 300px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    //align-items:strech;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}